<h1>
  Actor #<%= params.fetch(:actor_id) %> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @individual_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @individual_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @individual_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @individual_actor.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @individual_actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @individual_actor.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% @actor_characters.each do |a_character| %>
    <tr>
      <td>
        <% character_movie = Movie.where({ :id => a_character.movie_id }).first %>
        <%= character_movie.title %>
      </td>

      <td>
        <%= character_movie.year %>
      </td>

      <td>
        <% director_of_character = Director.where({ :id => character_movie.director_id}).first %>
        <%= director_of_character.name %>
      </td>

      <td>
        <%= a_character.name %>
      </td>

      <td>
        <a href="/movies/<%= character_movie.id %>">
          Show details
        </a>
      </td>
    </tr>

  <% end %>    
</table>
